--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
black
flake8
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
pandas
pip
python-dotenv
scikit-learn
tqdm
typer
-e .
nltk
transformers
datasets
evaluate
rouge-score
accelerate